body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: 'Clear sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0;
}
h2, p {
    margin: 0;
}
.container {
    width: 468px;
    margin-top: 40px;
}
.info{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

.description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.description p {
    font-size: 18px;
    margin-top: 10px;
}

.description button{
    padding: 5px 17px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: #776E65;
    color: white;
    border: 0px;
}



.grid{
    width: 456px;
    height: 456px;
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #AFA192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6 ;
}
.score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #fff;
}

#score {
    font-size: 30px;
}

.score-title {
    font-size: 16px;
}